@mixin stone-border {
	border-image: url('~/src/assets/ui-border.png') round;
	border-image-slice: 15 10 15 10 fill;
	border-image-width: 30px 20px;
	border-image-outset: 6px;
	image-rendering: pixelated;
}

@mixin stone-bg {
	background: url('~/src/assets/ui-bg-texture.png');
	background-size: 80px 80px;
	color:rgb(188, 190, 186)
}



