.master_node {
	.master_flex_wrapper {
		
		.editor_screen {
			.toolbar {

			}
			.editor_node {

			}
		}
	}
}

.rs-modal-wrapper {
	.Load_File_Modal, .Save_File_Modal {
		.label {
			margin-top: 1rem;
			margin-bottom: 0.25rem;
			color: #aaa;
			font-weight: bold;
		}

		.rs-list-item {
			display: flex;
			padding: 0.9rem 1rem;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			.file-icon {
				margin-right: 0.5rem;
				color: #bbb;
			}
			.delete-icon {
				color: #bc5a5a;
			}

			&.selected {
				background-color: rgb(21, 56, 87);
			}
		}
		.input-strip {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			gap: 2rem;

			.input-pair {
				flex-basis: 50%;				
			}
		}

		.input-grid-sizes {
			padding: 1rem;
			border-radius: 0.3rem;
			margin-top: 1rem;
			border: 0.1rem solid #101010;

			display: grid;
			grid-template-columns: 1fr 180px 1fr;
			grid-template-rows: 1fr 180px 1fr;
			gap: 1rem;

			.image {
				background-color: rgb(29, 122, 75);
			}

			.input-pair {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;

				.rs-input {
					max-width: 4rem;
				}
			}		
		}


		.delete-confirm {
			background-color: #6b0e0e;
			padding: 1rem;
			margin: 1rem 0rem;
			border-radius: 0.3rem;
			border: 0.2rem solid #a00;
		}
		.button-strip {
			margin-top: 1rem;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			gap: 1rem;
		}
	}
}

.Unit_Palette_Drawer {
	.rs-drawer-body {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;

		.unit-palette {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;

			.creature_instance {
				.tile_cell {
					canvas {
						border: 0.4rem dashed #444;
						border-radius: 1rem;
						box-sizing: border-box;
					}
				}

				&.selected {
					.tile_cell {
						canvas {
							border: 0.4rem dashed #999;
						}
					}
				}
			}
		}
	}
}