.master_node {
	.master_flex_wrapper {
		
		.editor_screen {
			.toolbar {

			}
			.editor_node {

			}
		}
	}
}

.rs-modal-wrapper {
	.Load_File_Modal, .Save_File_Modal {
		.label {
			margin-top: 1rem;
			margin-bottom: 0.25rem;
			color: #aaa;
			font-weight: bold;
		}

		.rs-list-item {
			display: flex;
			padding: 0.9rem 1rem;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			.file-icon {
				margin-right: 0.5rem;
				color: #bbb;
			}
			.delete-icon {
				color: #bc5a5a;
			}

		}
		.delete-confirm {
			background-color: #6b0e0e;
			padding: 1rem;
			margin: 1rem 0rem;
			border-radius: 0.3rem;
			border: 0.2rem solid #a00;
		}
		.button-strip {
			margin-top: 1rem;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			gap: 1rem;
		}
	}
}