.master_node {
	.master_flex_wrapper {
		
		.editor_screen {
			.toolbar {

			}
			.editor_node {

			}
		}
	}
}

.rs-modal-wrapper {
	.Load_File_Modal, .Save_File_Modal, .Generate_Map_Modal {
		.label {
			margin-top: 1rem;
			margin-bottom: 0.25rem;
			color: #aaa;
			font-weight: bold;
		}

		.rs-list-item {
			display: flex;
			padding: 0rem 1rem;
			min-height: 3rem;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			.file-icon {
				margin-right: 0.65rem;
				color: #bbb;
				font-size: 1.5rem;
			}
			.delete-icon {
				color: #bc5a5a;
				font-size: 1.5rem;
				border-radius: 0.5rem;
				padding: 0.25rem;
				border: 2px solid #ef353500;
				box-sizing: content-box;

				&:hover {
					border: 2px solid #ef353577;
					color: #ef3535;
					transition: all 0.25s ease-in-out;
				}
			}

			&.selected {
				background-color: rgb(21, 56, 87);
			}
		}
		.input-strip {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			gap: 2rem;

			.input-pair {
				flex-basis: 50%;				
			}
		}

		.input-grid-sizes {
			padding: 1rem;
			border-radius: 0.3rem;
			margin-top: 1rem;
			border: 0.1rem solid #101010;

			display: grid;
			grid-template-columns: 1fr 180px 1fr;
			grid-template-rows: 1fr 180px 1fr;
			gap: 1rem;

			.image {
				background-color: rgb(29, 122, 75);
			}

			.input-pair {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;

				.rs-input {
					max-width: 4rem;
				}
			}		
		}


		.delete-confirm {
			background-color: #6b0e0e;
			padding: 1rem;
			margin: 1rem 0rem;
			border-radius: 0.3rem;
			border: 0.2rem solid #a00;
		}
		.button-strip {
			margin-top: 1rem;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			gap: 1rem;
		}
	}
}

.Unit_Palette_Drawer {
	.rs-drawer-body {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
		padding: 1.5rem 2.75rem;

		.team-selection {
			width: 100%;
			margin-bottom: 1.5rem;
		}
		
		.team-slider {
			margin-top: 18px;
		  
			.rs-slider-handle {
				top: -6px;
				background-color: #3498ff;
				text-align: center;
				height: fit-content;
				width: fit-content;
				padding: 0.125rem 0.5rem;

				margin-left: -16px;
				cursor: pointer;
				transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
			
				&:hover {
					box-shadow: 0 0 0 8px rgb(52 152 255 / 25%);
				}
			
				&::before {
					display: none;
				}
			}
		  
			&.rs-slider-dragging .rs-slider-handle,
			&.rs-slider-dragging .rs-slider-handle:hover {
				box-shadow: none;
				transform: scale(1.2);
			}
		}

		.unit-palette {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;

			.creature_instance {
				.tile_cell {
					canvas {
						border: 0.4rem dashed #444;
						border-radius: 1rem;
						box-sizing: border-box;
					}
				}

				&.selected {
					.tile_cell {
						canvas {
							border: 0.4rem dashed #999;
						}
					}
				}
			}
		}
	}
}