
.master_node {

	.master_flex_wrapper {

		.game_node {

			.game-info-modal-anchor {
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 0;

				width: calc(567px * 2);
				height: calc(325px * 2);
				
				display: flex;
				align-items: center;
				justify-content: center;

				.game-info-modal {
					font-family: 'pixel';
					font-size: 2.5rem;
					font-weight: 0.5;
					padding: 0.5rem 1.0rem;
					color: white;
//					border-radius: 0.5rem;
					position: relative;
					display: inline-block;
					z-index: 0;
				

					.core-bg {
						z-index: -1;
						position: absolute;
						width: 90px;
						height: 100%;

						border-image-source: url('~/src/game/assets/modal-border.png');
						border-image-slice: 39 0 39 0 fill;
						border-image-width: 78px 0px;
						border-image-outset: 78px 0px;
						image-rendering: pixelated;
						top: 0%;
						left: calc(50% - 45px);	
					}

					.left-bg {
						z-index: -1;
						position: absolute;
						width: calc(50% - 45px);
						height: 100%;

						border-image-source: url('~/src/game/assets/modal-left-border.png');
						border-image-slice: 30 0 30 34 fill;
						border-image-width: 60px 0px 60px 68px;
						border-image-outset: 60px 0px 60px 68px;
						image-rendering: pixelated;
						top: 0%;
						left: 0;	
					}

					.shadow {
						z-index: -2;
						background: rgba(0, 0, 0, 0.4);
						animation: shadow-float 6s ease-in-out infinite;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 110px;
						left: 0;
					}


					.data-row {
						display: flex;
						justify-content: flex-start;
						align-items: center;

						img {
							padding-left: 0.25em;
						}
					}

					animation: float 6s ease-in-out infinite;




					&.hidden {
						animation: disappear 0.6s ease-out 0.2s 1 both;
					}


					.body {
						font-size: 1.5rem;
						color: #ccc;

						max-width: 15rem;
					}
				}
			}
		}


	}


}

@keyframes disappear {
	0% {
		opacity: 1.0;
		filter: blur(0px);
		transform: scale(100%);
		margin-bottom: 0rem;
	}

	40% {
		opacity: 0.3;
		filter: blur(10px);
		transform: scale(140%);
		margin-bottom: 3rem;
	}
	
	100% {
		opacity: 0.0;
		filter: blur(100px);
		transform: scale(200%);
		margin-bottom: 20rem;
	}
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes shadow-float {
	0% {
		filter: blur(5px);
		transform: translatey(0px);
	}
	50% {
		filter: blur(15px);
		transform: translatey(-10px);
	}
	100% {
		filter: blur(5px);
		transform: translatey(0px);
	}
}
