@import './normalize.css';
@import './backgrounds.scss';
@font-face {
	font-family: 'pixel';
	src:	url('~/src/fonts/Monaco.woff2') format('woff2'), /* Modern Browsers */
			url('~/src/fonts/Monaco.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}


body {
	background: #5a5458 !important;


}

@mixin stone-border {
	border-image: url('~/src/game/assets/ui-border.png') round;
	border-image-slice: 15 10 15 10 fill;
	border-image-width: 30px 20px;
	border-image-outset: 6px;
	image-rendering: pixelated;
}

@mixin stone-bg {
	background: url('~/src/game/assets/ui-bg-texture.png');
	background-size: 80px 80px;
	color:rgb(188, 190, 186)
}


#root {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	align-items: flex-start;
}

.master_node {
	//font-family: 'pixel';
	font-family: Gill Sans, sans-serif;
	padding: 3em;
	padding-top: 10rem;
    min-width: 1420px;
    min-height: 900px;

	* {
		box-sizing: border-box;
	}

	.master_flex_wrapper {
		padding-top: 2rem;
		
		.editor_screen, .game_screen, .loading_screen {
			.toolbar {
				@include stone-border;
				@include stone-bg;

				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				
				min-height: 4rem;
				margin-bottom: 1rem;
				padding-left: 1rem;

				button {
					margin-right: 0.5rem;
				}
			}			
		}

		.editor_node, .game_node, .loading_node {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}

		.loading_node {
			.canvas_holder {
				.loading_screen {
					background: black;
					color: white;
					font-size: 1.5rem;
					font-weight: bold;
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;

					box-shadow: darkslategrey 0px 4px 8px;
					image-rendering: pixelated;
					image-rendering: crisp-edges;
					width: calc(567px * 2);
					height: calc(325px * 2);
					
					.loading_bar {
						margin-top: 0.5rem;
						border: 4px solid white;
						height: 1.5rem;
						width: 10rem;

						.loading_bar_fill {
							background: #eee;
							height: 100%;
							width: 0%;

							background: repeating-linear-gradient(
								45deg,
								#ddd,
								#ddd 6px,
								#fff 6px,
								#fff 12px
							);
						}
					}
				}
			}
		}

		.game_node, .editor_node {
			position: relative;

			.map-tooltip-anchor {
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 0;

				width: calc(567px * 2);
				height: calc(325px * 2);
				
				.map-tooltip {
					font-family: 'pixel';
					font-size: 1.5rem;
					transform: translateX(-50%);
					padding: 0.5rem 1.0rem;
					margin-top: 0.5rem;
					background: rgba(0, 0, 0, 0.75);
					color: white;
					border-radius: 0.5rem;
					position: relative;
					display: inline-block;

					.data-row {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						line-height: 1;
						gap: 0.25em;

						img {
//							padding-left: 0.25em;
						}

						&.disabled {
							opacity: 0.6;
						}
					}

					hr {
						margin: unset;
						margin-top: 0.25em;
						margin-bottom: 0.25em;
					}
				}
			}
		}


		.canvas_holder {
			position: relative;

			&:after {
				pointer-events: none;
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				bottom: 0px;
				right: 0px;
				width: 100%;
				height: 100%;
				@include stone-border;

				box-sizing: border-box;
				box-shadow: inset 0px 5px 9px 4px rgb(0 0 0);
			}

			canvas {
				box-shadow: darkslategrey 0px 4px 8px;
				image-rendering: pixelated;
				image-rendering: crisp-edges;
				width: calc(567px * 2);
				height: calc(325px * 2);



			}

			.left_scroll, .top_scroll, .right_scroll, .bottom_scroll {
				height: 100%;
				width: 30px;
				position: absolute;
				top: 0;
				cursor: w-resize;

				&:hover {
					background: #fff3;
					transition: all 0.25s ease-in-out;
				}
			}
			.top_scroll {
				width: 100%;
				height: 30px;
				top: 0;
				cursor: n-resize;
			}
			.right_scroll {
				height: 100%;
				width: 30px;
				top: 0;
				right: 0;
				cursor: e-resize;
			}
			.bottom_scroll {
				width: 100%;
				height: 30px;
				bottom: 0;
				top: unset;
				cursor: s-resize;
			}
		}


		.tile_palette {
			height: calc(2 * 325px);
			width: calc(100px + 23px + 1.5rem);
			margin-left: 50px;

			//border: 3px solid black;
			//border-radius: 3px;
			@include stone-border;
			@include stone-bg;
		
			
			flex-shrink: 0;
			
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			overflow-y: auto;
			overflow-x: hidden;
			
			
			.tile_cell {
				width: 100px;
				height: 100px;
				flex-shrink: 0;
				margin: 12px;
				margin-bottom: 0px;
				background: aliceblue;
				position: relative;

				&:after {
					pointer-events: none;
					content: "";
					position: absolute;
					top: 0px;
					left: 0px;
					bottom: 0px;
					right: 0px;
					width: 100%;
					height: 100%;
	
					box-shadow: inset 0px 5px 8px 0px rgb(67 71 64);
					border: 2px solid rgb(96,89,105);
				}


				&.active {
					&:after {
						pointer-events: none;
						content: "";
						position: absolute;
						top: 0px;
						left: 0px;
						bottom: 0px;
						right: 0px;
						width: 100%;
						height: 100%;
		
						box-shadow: inset 0px 5px 8px 0px rgb(114, 120, 110);
						border: 2px solid rgb(136, 127, 148);
					}
				}
				
				&:last-of-type {
					margin-bottom: 12px;
				}
			}		
		}

		.instructional_text {
			font-family: 'pixel';
			font-size: 1.5rem;
			margin-top: 1rem;
			padding: 2rem;
			box-sizing: content-box;

			@include stone-border;
			@include stone-bg;
		}

	}

	* {

		&::-webkit-scrollbar-thumb{
			background-color: rgb(124 121 121);
			transition: background-color 0.5s ease-in-out;
			border-radius: 0.2rem;
		}
		&::-webkit-scrollbar-track {
			background-color: rgb(55 51 51 / 59%);
			transition: background-color 0.5s ease-in-out;
			border-radius: 0.2rem;
			border: 0.2rem solid rgb(111 111 111 / 79%);
		}
	
		&:focus-within,
		&:hover {
			&::-webkit-scrollbar-thumb{
				background-color: rgba(#9c9898, 1);
			}
			&::-webkit-scrollbar-track {
				background-color: rgba(#2b2b2b, 1);
			}
		}
	
		&::-webkit-scrollbar-corner {
			visibility: hidden;
		}
	
	
		&::-webkit-scrollbar {
			width: 1.2rem;
			height: 1.2rem;
			margin: 0.2rem;
			border-radius: 0.2rem;
			background-color: transparent;
		}
	}
}

