$mult: 0.75;



.master_node {

	.master_flex_wrapper {

		.game_node {

			.game-info-modal-anchor {
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
				
				display: flex;
				align-items: center;
				justify-content: center;

				.game-info-modal {
					font-family: 'pixel';
					padding: 0.0rem 0.5rem;
					color: white;
//					border-radius: 0.5rem;
					position: relative;
					display: inline-block;
					z-index: 0;
				

					.core-bg {
						z-index: -1;
						position: absolute;
						width: calc(9.0rem * $mult);
						height: 100%;

						border-image-source: url('~/src/game/assets/modal-border.png');
						border-image-slice: 39 0 39 0 fill;
						border-image-width: calc(7.8rem * $mult) calc(0rem * $mult);
						border-image-outset: calc(7.8rem * $mult) calc(0rem * $mult);
						image-rendering: pixelated;
						top: 0%;
						left: calc(50% - 4.5rem * $mult);	
					}

					.left-bg {
						z-index: -1;
						position: absolute;
						width: calc(50% - 4.5rem * $mult);
						height: 100%;

						border-image-source: url('~/src/game/assets/modal-left-border.png');
						border-image-slice: 30 0 30 34 fill;
						border-image-width: calc(6.0rem * $mult) calc(0rem * $mult) calc(6.0rem * $mult) calc(6.8rem * $mult);
						border-image-outset: calc(6.0rem * $mult) calc(0rem * $mult) calc(6.0rem * $mult) calc(6.8rem * $mult);
						image-rendering: pixelated;
						top: 0%;
						left: 0;	
					}

					.right-bg {
						z-index: -1;
						position: absolute;
						width: calc(50% - 4.5rem * $mult);
						height: 100%;

						border-image-source: url('~/src/game/assets/modal-right-border.png');
						border-image-slice: 30 34 30 0 fill;
						border-image-width: calc(6.0rem * $mult) calc(6.8rem * $mult) calc(6.0rem * $mult) calc(0rem * $mult);
						border-image-outset: calc(6.0rem * $mult) calc(6.8rem * $mult) calc(6.0rem * $mult) calc(0rem * $mult);
						image-rendering: pixelated;
						top: 0%;
						right: 0;	
					}

					.shadow {
						z-index: -2;
						background: rgba(0, 0, 0, 0.4);
						animation: shadow-float 6s ease-in-out infinite;
						height: 100%;
						width: 100%;
						position: absolute;
						top: 110px;
						left: 0;
					}

					.core {
						min-width: 10rem;

						div {

							.header {
								font-size: 2.5rem;
								text-align: center;
								//font-weight: 0.5;
								font-family: 'Ancient Modern Tales';
								margin-bottom: 1rem;
							}
							
							.body {
								font-family: 'Super Legend Boy';
								transform: scaleX(80%);
								margin: 0 -10%;

								font-size: 1.0rem;
								color: #ddd;

								strong {
									color: #aaa;
									font-size: 110%;
								}
							}

							&.centered {
								text-align: center;
							}
						}
					}

					.data_row {
						display: flex;
						justify-content: flex-start;
						align-items: center;

						img {
							padding-left: 0.25em;
						}
					}

					animation: float 6s ease-in-out infinite;




					&.hidden .core {
						animation: disappear 1.0s ease-out 0.0s 1 both;
						transform-origin: 50% -50% 50%;
					}

					&.hidden .shadow {
						animation: fadeout 0.2s ease-out 0.0s 1 both;
						opacity: 0%;
					}

					&.visible .core {
						animation: appear 0.2s ease-in-out 0.0s 1 both;
					}


				}
			}
		}


	}


}

@keyframes appear {
	0% {
		opacity: 0.0;
		transform:  scale(100%);
	}

	20% {
		opacity: 1.0;
		transform:  scaleX(130%) scaleY(90%);
	}	

	60% {
		opacity: 1.0;
		transform:  scaleX(95%) scaleY(110%);
	}

	80% {
		opacity: 1.0;
		transform:  scaleX(102%) scaleY(98%);
	}
	
	100% {
		opacity: 1.0;
		transform:  scale(100%);
	}
}

@keyframes fadeout {
	0% {
		opacity: 1.0;
		filter: blur(5px);
	}
	100% {
		opacity: 0.0;
		filter: blur(15px);
	}
}

@keyframes disappear {
	0% {
		opacity: 1.0;
		transform: translateY(0%) scaleX(100%) ;
	}

	30% {
		opacity: 0.0;
	}	
	
	100% {
		opacity: 0.0;
		transform:  translateY(100%) rotateX(120deg) scaleX(80%);
	}
}


@keyframes disappear_spring {
	0% {
		opacity: 1.0;
		transform: scaleX(90%) translateY(10%) scaleY(120%);
		//margin-bottom: 0rem;
	}
	5% {
		opacity: 1.0;
		transform: scaleX(100%) scaleY(100%);
	}

	
	100% {
		opacity: 0.0;
		transform:  translateY(-50%) rotateX(90deg) scaleX(250%);
//		margin-bottom: -3rem;
	}
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes shadow-float {
	0% {
		filter: blur(5px);
		transform: translatey(0px);
	}
	50% {
		filter: blur(15px);
		transform: translatey(-10px);
	}
	100% {
		filter: blur(5px);
		transform: translatey(0px);
	}
}
