@import '../backgrounds.scss';

.master_node {

	.centered_text {
		text-align: center;
		align-self: center;
	}

	.game_screen {
		position: relative;	
	}

	.next_turn_control {
		background: #000d;
		position: absolute;
		right: 4px;
		bottom: 4px;
		border: 1px solid #fffa;

		background: rgba(0, 0, 0, 0.75);
		padding: 1.5rem 1.5rem 1.0rem 1.5rem;

		@include smoke-glass-border-small-upper-left;

		button {
			border: 0.2rem #777;
			border-style: outset;
			border-radius: 0;
			font-family: "Hannover Messe Serif";
			font-size: 1.2rem;
			font-weight: normal;
			min-width: 7rem;
		}

		.annotations {
			margin-top: 1rem;
			font-family: 'Messe Duesseldorf';
			//font-size: 1.5rem;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
		}

	}

	.game_status_display {
		height: fit-content;
		width: calc(12rem + 1.5rem);

		border: 0.25rem solid black;
		border-radius: 0.5rem;
	
		font-family: 'Messe Duesseldorf';//'Eight Bit Dragon';
		
		flex-shrink: 0;
		
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 1rem;
		
		line-height: 1.5;
		
		button {
			margin-bottom: 1rem;
		}
		@include smoke-glass-border-tall;
		@include smoke-glass-bg;


		.small_caption {
			font-size: 0.9rem;
		}
		.text_data {
			color: #fff1f1;
			font-size: 1.0rem;
		}

		.tile_cell {
			width: 12rem;
			height: 12rem;
			flex-shrink: 0;
			margin: 2rem 0rem;
			position: relative;
			align-self: center;

			canvas {
				width: 12rem;
				height: 12rem;
	
			}

			/*
			&:after {
				pointer-events: none;
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				bottom: 0px;
				right: 0px;
				width: 100%;
				height: 100%;

				box-shadow: inset 0px 5px 8px 0px rgb(67 71 64);
				border: 2px solid rgb(96,89,105);
			}*/
		}
	}

	.game_status_display, .next_turn_control {

		&.disabled {
			.icon_and_data_pair {
				opacity: 0.5;
			}
		}
		.icon_and_data_pair {
			display: flex;
			flex-flow: row;
			justify-content: flex-start;
			align-items: center;
			line-height: 1.5;
			margin: 0.2rem 0rem;

			.icon_cell {
				border: 0.15rem solid #aaa;
				background: #aaa;
				border-radius: 0.25rem;
				margin-right: 0.5rem;

				img {
					border: 0.15rem solid black;
					border-radius: 0.25rem;
					padding: 0.15rem;
					background: black;
					width: 1.8rem;
					height: 1.8rem;
					image-rendering: initial;
				}
			}

			.label {
				font-weight: 600;
				font-size: 0.9rem;
			}
			.data {
				color: #fff1f1;
				font-size: 1.0rem;
			}			
		}

		.controls {

			width: 100%;
			margin-top: 1rem;

			.button_strip {
				margin-top: 0.5rem;
				display: flex;
				flex-flow: row;
				gap: 0.3rem;
				justify-content: center;
				align-items: center;

			}
		}

		.button_icon {
			border: 0.20rem outset #aaa;
			background: #aaa;
			border-radius: 0.25rem;
			margin-right: 0.5rem;
			display: inline-block;
		
			height: fit-content;
			width: fit-content;
			padding: 0;
			margin: 0;
		

			&.active {
				border: 0.20rem inset #aaa;
			}

			.vector_icon {
				border: 0.15rem solid black;
				border-radius: 0.25rem;
				padding: 0.15rem;
				background: black;
				color: white;

				width: 2.3rem;
				height: 2.3rem;
			}
		}

		.label_and_data_pair {
			display: flex;
			flex-flow: row;
			justify-content: flex-start;
			align-items: baseline;
			line-height: 1.5;

			.label {
				color: #c7c4c4;
				margin-right: 0.3em;
				font-size: 1.0rem;
			}
			.data {
				color: #fff1f1;
				font-size: 1.2rem;
			}
		}
	}
	
}